server{
    listen       ${NGINX_PORT} default_server;
    server_name  ${NGINX_HOSTNAME};
    root   /usr/share/nginx/html;
    
    location = ${NGINX_CONTEXT_PATH} {
        rewrite ^ ${NGINX_CONTEXT_PATH}/index.html permanent;
    }

    location ~ ${NGINX_CONTEXT_PATH}/.* {
        rewrite ^${NGINX_CONTEXT_PATH}/(.*)$ /$1 last;
        index  index.html index.htm;

    }
}